@model SimpleOnlineStoreRepositoryCore.Data.Models.RegisterModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


    }

</head>
<body>
</body>
</html>
